@media screen and (min-width:991px) {
    .h-100-vh {height: 100vh;}
    .position-md-fixed {position: fixed;}
    .overflow-x-inherit {overflow-x: inherit!important;}
    .table-hover tbody tr:hover {border-left: 3px solid #007bff; background: #f1f7fb!important; box-shadow: 0 0.25rem 1rem 0 rgba(0,0,0,.1);
        cursor: pointer;}/*  transform: scale(1.02); */
    /*.table-hover tbody tr:hover td:after {content: ''; position: absolute; top:0px; bottom: 0px; left: -2px; border-left:3px solid rgba(255,0,0,0.5)}*/
}

@media screen and (max-width:991px) {
    .w-sm-100 {width: 100%!important;}
    .scroll-horiztl {overflow-x:auto;overflow-y: auto;}
	.seprater:before {
		display: none;
	}
	.drop-btn {
	float: none;
	display: block;
	margin-top: 10px
}
.w-md-82 {width: 82%!important;}
.search-icon.responsive {
    display: block;
    position: unset;
}
.mysearch {
    width: 77%;
}
.notify-circle {
	top: 3px;
	right: -10px;
}
.gutter-5 {
	padding-left:15px!important;
	padding-right: 15px!important;
}
.search-desk, .desk-ul {
	display: none;
	padding-bottom: 20px;	
}
.search-mob {
    width: 72%;
    direction: initial;
}
.back-icon {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 18px;
    color: #ababab;
}
.back-icon img {width: 15px;}
.search-mob.responsive {
    position: absolute;
    width: auto;
    display: block;
    left: 0px;
    top: -10px;
    right: 14.5%
}
.search-mob.responsive input {border: 0px;
    padding: 14px 15px 14px 50px;
    width: 100%;
    background: #f5f5f5;
}
.search-mob.responsive input:focus {box-shadow:none;}

.mob-ul {
	display: block;
	padding-bottom: 20px;
}
.mob-ul li {
	border-bottom: 1px solid #eeeeee;
}
.mob-ul img {
	margin-right: 5px;
}
.notify-circle.notify-right {
	position: static;
	width: 28px;
    height: 28px;
    font-size: 14px;
    background-color: #4285F4;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-bg {
	height: 100%;
}
.navbar {
	display: block;
	padding: .1rem 1rem;
}
.navbar img {
	max-width: 48px;
}
.mysearch  {
	border: none;
    border-bottom: 1px solid #D0D2D3!important;
    border-radius: 0px;
    background-color: transparent;
    padding-right: 40px;
    text-indent: 0;
    width: 50px;
    margin-right: 0px!important;
    border-bottom: 0px!important;

}
.mysearch-rs{width: 100%; text-align: left; float: left;}

.btn.fb-btn {
	width: 100%;
	margin-bottom:10px;
}
.justify-cntnt-unst-sm {justify-content: unset;}
.direction-rtl-sm {direction: rtl;}
.direction-ltr-sm {direction: ltr;}
.h-auto-md {height: auto!important;}
}

@media (max-width: 768px) {
    .sm-w-60 {width: 60%!important;}
	.mini-container {
		padding-left:5%;
		padding-left:5%;
		width: 100%; 
	}
    .search-mob {width: 65%;}
    .search-mob.responsive {right: 16%}
}

/** carousel css **/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

@media (max-width: 680px) {
    .search-mob.responsive {right: 20%}
    .search-mob {width: 55%;}
}


@media (max-width: 600px) {
    .icons-coming-soon {top: 3%;}
    .search-mob.responsive {right: 23%;}
}
@media (max-width: 500px) {
    .search-mob.responsive {right: 24%;}
}
@media (max-width: 420px) {
    .search-mob.responsive {right: 26%;}
}
@media (max-width: 360px) {
    .search-mob.responsive {right: 30%;}
}